#tabPane .headers-region {
    -fx-background-color: white;
}
#tabPane .tab-header-background {
    -fx-background-color: white;
}
#tabPane *.tab-header-area {
    -fx-padding: 0.0 -29.0 0.0 29.0;
}
.tab {
    -fx-pref-height:38.0px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
} 

#tabPane .tab-selected-line {
    -fx-background-color: #008aae;
    -fx-pref-width: 60.0px;
}

.tab-label {
	-fx-text-fill: #a2a5a8;
	-fx-font-size:16.0px;
	-fx-font-weight: normal;
	-fx-font-family:"Roboto";
}
.tab:selected{
    -fx-background-color: white;
}
.tab:selected .tab-label{
	-fx-text-fill: #008aae;
	-fx-font-size:16.0px;
	-fx-font-weight: normal;
	-fx-font-family:"Roboto";
}
#pane_profile .text{
	-fx-font-family:"Roboto";
}
#btn_close{
	-fx-background-image: url("/imgs/cancel.png");
    -fx-background-repeat: no-repeat;
	-fx-background-position: center  ;
	-fx-pref-width: 20.0px;
	-fx-pref-height: 20.0px;
	-fx-background-color: transparent;
  	-fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}
#btn_minimize{
	-fx-background-image: url("/imgs/minimize.png");
    -fx-background-repeat: no-repeat;
	-fx-background-position: center  ;
	-fx-pref-width: 20.0px;
	-fx-pref-height: 20.0px;
	-fx-background-color: transparent;
  	-fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}
#btn_maximize{
	-fx-background-image: url("/imgs/maximize.png");
    -fx-background-repeat: no-repeat;
	-fx-background-position: center  ;
	-fx-pref-width: 20.0px;
	-fx-pref-height: 20.0px;
	-fx-background-color: transparent;
  	-fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}
#tbl_patientDetails .column-header{
	-fx-background-color: white;
    -fx-pref-height:50.0px;
    -fx-font-family: "Roboto";
}

#tbl_patientDetails{
   -fx-background-color: white;
}
#tbl_patientDetails:focused{
    -fx-background-color: white;
}
#tbl_patientDetails .column-header-background{
    -fx-background-color:white;
    -fx-cell-size: 50.0px;
}
#tbl_patientDetails .column-header-background .label{
    -fx-background-color: white;
    -fx-text-fill: #2dacd3;
    -fx-font-family: "Roboto";
    -fx-font-size: 15.0px;
    -fx-alignment: center;
}
#tbl_patientDetails .column-header {
    -fx-background-color: white;
    -fx-pref-height:50.0px;

}
#tbl_patientDetails .table-cell{
	-fx-font-family: "Roboto";
    -fx-text-fill: #334E66;
    -fx-cell-size: 50.0px;
}

.table-view .table-column {
  -fx-alignment: CENTER;
}
 .table-row-cell{
    -fx-background-color: white;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em; 
    -fx-cell-size: 50.0px;
    -fx-text-fill: #a2a5a8;
    -fx-font-size: 16.0px;
    -fx-alignment: CENTER-LEFT;
    -fx-table-cell-border-color: transparent;
}

.table-view .filler{
	 -fx-background-color:white;
}
.table-row-cell:even{
    -fx-background-color:#f2fafd;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background
 {
   
    -fx-background-color: #E6E7EE;
    -fx-border-radius:2.0px;
}
